{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Products</h1>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col d-flex">
                    <div class="card mx-auto" style="width: 18rem;">
                        <img src="{{ product.image_url }}" class="card-img-top img-fluid" alt="..." style="height: 12rem; object-fit: contain;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">$ {{ product.price }}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}